*,
*::before,
*::after {
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

body {
    background: #212529;
}
/* HEADER */
.header-content {
    width: 94%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation {
    width: 32%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}
.link-item-navigation {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.8rem;
    text-transform: capitalize;
    color: #FFFFFF;
}
.link-item-navigation:hover {
    color: #FFB742;
}
.header-button {
    width: 7.6rem;
    height: 3.4rem;
    background: #FFB742;
    border-radius: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-header-button {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.9rem;
    color: #212529;
}
/* MAIN */
/* Секція skills */
.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Блок I am */
.skills-content {
    margin: 7.5rem 1rem;
    width: 68%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.title-skills {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.3rem;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}
.myname {
    border-bottom: 2px solid #FFB742;
    color: #FFB742;
}
.subtitle-skills {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    line-height: 5rem;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
}
.text-skills {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3.3rem;
    text-transform: capitalize;
    text-align: center;
    color: #FFFFFF;
    margin-top: 1rem;
}
/* Блок experience-skills & progects & cliens */
.experience-skills {
    width: 90%;
    margin: 1rem 15px 8rem 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.column-experience-projects-clients {
    height: 7.5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 30%;
    background: rgba(56, 62, 69, 0.44);
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}
.column-experience-projects-clients::after {
    content: url("../images/icons/arrow_experience_white.png");
    position: absolute;
    top: 44%;
    right: 10%;
}
/* HOVER на картку expierence */
.column-experience-projects-clients:hover {
    background: #FFB742;
}
.column-experience-projects-clients:hover .number-text-exp {
    color: #000000;
}
.column-experience-projects-clients:hover .text-exp {
    color: #000000;
}
.column-experience-projects-clients:hover::after {
    content: url("../images/icons/arrow_experience_black.png");
    position: absolute;
    top: 44%;
    right: 10%;
}
/* Контент карток expirience */
.projects-experience {
    flex: 1 1 auto;
}
.number-text-exp {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #FFB742;
    text-align: center;
    margin: 5px 0;
}
.text-exp {
    font-family: 'Inter', sans-serif;
    font-size: 1.5rem;
    line-height: 1.4rem;
    text-transform: capitalize;
    color: #FFFFFF;
    text-align: center;
    margin: 5px 0;
}
/* Секція aboutme */
.conteiner-aboutme {
    width: 94%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image-aboutme {
    flex: 0 1 36%;
    position: relative;
    padding: 0 0 38% 0;
}
.image-aboutme img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.article-aboutme {
    flex: 0 1 60%;
    display: flex;
    flex-direction: column;
}
.overtitle-aboutme-myworks {
    margin: 0;
    width: 9.4rem;
    height: 2.6rem;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: #FFB742;
}
.title-aboutme-myworks {
    margin: 0.8rem;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.8rem;
    color: #FFFFFF;
}
.text-aboutme {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.8rem;
    color: #D5D5D5;
    margin-bottom: 3rem;
}
/* Секція portfolio */
.portfolio {
    display: flex;
    justify-content: center;
}
.myworks-conteiner {
    margin: 4rem 1rem 7rem 1rem;
    width: 86%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Блок навігації */
.navigation-myworks {
    width: 44rem;
    margin: 2rem 0 3.2rem 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-navigation-myworks {
    border-radius: 3px;
    cursor: pointer;
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-navigation-myworks {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1.8rem;
    color: #FFFFFF;
}
/* HOVER navigation */
.item-navigation-myworks:hover {
    background: #FFB742;
}
.link-navigation-myworks:hover {
    color: #212529;
}
/* Блок з картинками робіт */
.images-myworks {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image-mywork {
    margin: 0.8rem;
    cursor: pointer;
}
/* Секція contact */
footer {
    background: #1C1C1C;
}
.footer-container {
    width: 94%;
    height: 26rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 3.8rem;
}
.iam {
    margin: 0 1rem;
}
.link-title-iam {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.3rem;
    color: #FFB742;
}
.who-iam {
    font-family: 'Work Sans';
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 2rem;
    color: #D4D4D4;
}
.useful-links {
    margin: 0 1rem;
}
.title-useful-social-newsletter {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #F5FBF2;
}
.list-useful-links {
    padding: 0;
}
.link-list-footer {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.24rem;
    color: #7B7B7B;
}
.link-list-footer:hover {
    color: #FFB742
}
.social-media {
    margin: 0 1rem;
}
.list-social-media {
    padding: 0;
}
.newsletter {
    margin: 0 1rem;
}
.text-newsletter {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.24rem;
    color: #7B7B7B;
}




