*,
*::before,
*::after {
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}

html {
    font-size: 10px;
    background: linear-gradient(120.21deg, #3E708E 11.18%, #64969B 74.17%);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    --font-SG: 'Space Grotesk', sans-serif;
    --color-font-white: #FFFFFF;
    --color-font-black: #000000;
    --color-font-grey: #CCCCCC;
}
.form-container {
    width: 58%;
    height: 80%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Секція форми */
.user-form-content {
    width: 60%;
    height: 100%;
    padding: 4% 0 8% 0;
    background: url("../images/Snake.png"), #FFFFFF;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.logo {
    align-self: start;
    padding-left: 6rem;
}
label {
    display: block;
}
.user-form {
    width: 60%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
}
.title-user-form {
    margin: 0;
    padding-bottom: 5%;
    font-family: var(--font-SG);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2rem;
    color: var(--color-font-black);
}
.filling-form {
    display: flex;
    flex-direction: column;
}
.filling-form input {
    width: 100%;
    height: 70%;
    outline: none;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
}
.filling-form select {
    width: 100%;
    height: 70%;
    outline: none;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
}
.filling-form p {
    margin: 0.6rem 0;
}
.text-form {
    font-family: var(--font-SG);
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-font-black);
}
.text-plchold {
    font-family: var(--font-SG);
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.6rem;
    color: var(--color-font-grey);
}
.user-password input::placeholder{
    content: url("../images/icons/pas-circle.png");
    padding-top: 1.1rem;
}
.btn-form input {
    margin-top: 2rem;
    color: var(--color-font-white);
    background: #27485D;
    cursor: pointer;
}
.btn-form input:hover {
    background: #64969B;
}
.login {
    color: #C4C4C4;
}
.login a {
    color: #476D73;
    text-decoration: underline;
}
/* Секція додаток до форми */
.form-contact {
    width: 40%;
    height: 100%;
    padding: 4% 0 8% 0;
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    position: relative;
    display: flex;
    flex-direction: column;
}
.form-navigation {
    margin: 0;
    padding-right: 14%;
    display: flex;
    justify-content: end;
}
.link-form-navigation {
    margin: 0 1rem;
    font-family: var(--font-SG);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-font-white);
}
.form-aphorism {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 12% 12%;
}
.aphorism {
    font-family: var(--font-SG);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 6rem;
    color: var(--color-font-white);
    text-shadow: 4px 3px 3px rgba(215, 215, 215, 0.4);
    margin: 0;
    width: 90%;
}
.avtor-aphorism {
    font-family: var(--font-SG);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: var(--color-font-white);
}

@media screen and (max-width: 1400px) {
    :root {
        font-size: 8px;
    }
}
@media screen and (max-width: 1200px) {
    .form-container {
        flex-direction: column;
        overflow: scroll;
    }
    .user-form-content {
        order: 2;
        width: 100%;
        height: 75%;
        padding: 4% 0 4% 0;
    }
    .form-contact {
        order: 1;
        width: 100%;
        height: 25%;
        padding: 0;
        justify-content: space-evenly;
    }
    .form-aphorism {
        margin: 0 auto;
        padding: 2% 0 0 0;
    }
    .aphorism {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 4rem;
    }
}