*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 10px;
    --font-WorkSans: 'Work Sans', sans-serif;
    --font-textInBlock: 1.4rem;
}
/* section User Persona */
.user-persona {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background: #FFB084;
    border-radius: 3rem;
}
.user-prsona-container {
    width: 80rem;
    height: 50rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: minmax(12rem, 1fr) repeat(3, minmax(8rem, 1fr));
    grid-template-columns: minmax(25rem, 1fr) repeat(2, minmax(19rem, 1fr));
    gap: 2rem;
}
.block-style {
    background: #FFFFFF;
    box-shadow: 7px 7px 0px #000000;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s;
}
.block-style:active {
    box-shadow: 0px 0px 0px #000000;
}
.data-user {
    grid-row: 1/4;
    grid-column: 1/2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5%;
}
.user-name {
    font-family: var(--font-WorkSans);
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 2.8rem;
    text-align: center;
    margin: 1rem 0;
}
.image-user {
    align-self: center;
}
.font-data-fat, .font-data-low {
    font-family: var(--font-WorkSans);
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.4rem;
    color: #000000;
}
.font-data-fat {
    font-weight: 600;
}
.font-data-low {
    font-weight: 400;
}
.age-pron {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slogan-user {
    grid-row: 4/5;
    grid-column: 1/2;
    font-family: var(--font-WorkSans);
    font-style: normal;
    font-weight: 700;
    font-size: var(--font-textInBlock);
    line-height: 1.6rem;
    color: #000000;
    width: 100%;
    height: 80%;
    align-self: end;
    display: flex;
    align-items: center;
    padding: 5%;
    text-align: center;
}
.bio-user {
    grid-row: 1/2;
    grid-column: 2/4;
    width: 100%;
    height: 100%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    font-family: var(--font-WorkSans);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 1.6rem;
    margin-bottom: 0;
}
.title + p, .title + ul > li {
    font-family: var(--font-WorkSans);
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #000000;
}
.goals-user {
    grid-row: 2/3;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    padding: 5%;
    box-shadow: 7px 7px 0px #29A71E;
}
.goals-user .title {
    margin: 0;
    color: #29A71E;
}
.frustrations-user {
    grid-row: 2/4;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    padding: 5%;
    box-shadow: 7px 7px 0px #E13535;
}
.frustrations-user .title {
    color: #E13535;
}
.dream-companies-user {
    grid-row: 3/5;
    grid-column: 2/3;
    width: 100%;
    height: 100%;
    padding: 5%;
    box-shadow: 7px 7px 0px #3675B0;
}
.dream-companies-user .title {
    color: #3675B0;
}
.dream-companies-user, .frustrations-user {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.personality-user {
    grid-row: 4/5;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
    padding: 5%;
}
.personality-user .title {
    margin: 0;
}
.list-personality li {
    list-style: none;
}
.list-personality li::before {
    content: "#";
}