*,
*::before,
*::after {
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    z-index: 2;
}
.header-top {
    width: 100%;
    height: 5.6rem;
    background: #202846;
}
.header-content {
    margin: 0 15px;
    padding: 10px 1.6rem 10px 8.7rem ;
    display: flex;
    justify-content: space-between;
}
/* Логотип */
.logo {
    flex: 1 1 auto;
}
/* Меню навігації */
.navigation {
    width: 66.7rem;
    margin-right: 4.5rem;
}
.nav-list {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.nav-item{
    width: 10.6rem;
}
/* Меню мови */
.language {
    width: 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.font-nav {
    font-family: 'PT Sans';
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: #FFFFFF;
}
/* MAIN */
/* Секція "забронювати" */
.name-content {
    height: 8.7rem;
    background: #C6C6DC;
    display: flex;
    align-items: center;
    padding-left: 12%;
}
.font-titles {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 3rem;
    line-height: 3.8rem;
    color: #202846;
}
/* Блок "місцерозташування" */
.main-conteiner {
    display: flex;
    justify-content: center;
    background: #DCDCDC;
}
.main-content-rows {
    width: 93.2rem;
    padding: 3.7rem 0 16.7rem 0;
    height: 112rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Блок "оберіть місце розташуваня" */
.select-location {
    margin-bottom: 4rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #E8E8E8;
    position: relative;
}
.select-location::after {
    content: url("../images/icons/arrow-select.png");
    position: absolute;
    top: 1.2rem;
    right: 1.4rem;
    cursor: pointer;
}
.text-select-location {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.7rem;
    line-height: 2.25rem;
    color: rgba(0, 0, 0, 0.61);
}
/* Блок з картками */
.rows-location {
    height: 84rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-location {
    display: flex;
    justify-content: space-around;
    background: #BDBDC6;
    cursor: pointer;
    position: relative;
}
/* HOVER на картці */
.item-location:hover {
    background: #AEAEE2;
    box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}
.item-location:hover .button {
    background: #EF075B;
}
.item-location:hover .star svg path {
    fill: #FFFF00;
}
/* Контент карток */
.image-location {
    padding: 1.8rem 5.8rem;
}
.title-location {
    margin: 1.6rem 0 0 0;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 2.9rem;
    color: #353C57;
    border-bottom: 3px solid #D7D7DD;
}
.text-location {
    width: 44.5rem;
    height: 11.5rem;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.75rem;
    color: #202846;
    margin: 10px 0 0 0;
    background: #D7D7DD;
}
.star {
    margin-top: 1.6rem;
}
.button {
    width: 12.5rem;
    height: 3.7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #202846;
    position: absolute;
    bottom: 0;
    right: 0;
}
.button-link {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #FFFFFF;
}
/* Блок юзер інфо */
.main-content-user-info {
    width: 82.3rem;
    height: 50rem;
}
.user-card {
    margin: 2.8rem 0;
    background: #BDBDC6;
}
.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8rem 5rem 2.8rem 10.4rem;
}
.column-image-user {
    height: 24rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.user-avatar {
    width: 15.6rem;
    height: 3.1rem;
    background: #202846;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.text-button {
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.9rem;
    color: #FFFFFF;
}
.user-settings {
    width: 15.6rem;
    height: 3.1rem;
    background: #202846;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.text-data {
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2.8rem;
    color: #353C57;
    border-bottom: 3px solid #FFFFFF;
}
.text-user-info {
    font-weight: 500;
}
.user-button {
    margin: 0 auto;
    width: 12rem;
    height: 3.1rem;
    background: #202846;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.btn-hover:hover {
    background: #EF075B;
}
/* Блок контакти */
.main-content-contacts {
    margin: 2rem 15px 4rem 15px;
    width: 72rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.margin-contacts {
    margin: 1.4rem 0.8rem;
}
.text-contact {
    margin: 4px 0;
    font-family: 'PT Sans';
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.5rem;
    color: #000000;
}
.title-contact {
    border-bottom: 2px solid #000000;
    margin-bottom: 4px;
}
.link-contact {
    color: #000000;
}
/* FOOTER */
.footer-conteiner {
    width: 100%;
    height: 5.6rem;
    display: flex;
    align-items: center;
    background: #202846;
}
.footer-content {
    margin: 0;
    padding-left: 4rem;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 2.8rem;
    color: #EEECF1;
}
