*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    padding-left: 0;
}
li {
    list-style: none;
}


html {
    font-size: 10px;
    --font-OS: 'Open Sans', sans-serif;
    --color-font-form: #969697;
    --color-font-white: #FFFFFF;
    --font-size-form: 2.8rem;
    --font-size-left-nav: 2.4rem;
    --color-font-black: #000000;
    --color-button: #00BFFF;
    --font-size-left-nav: 2rem;
    --line-height-left-nav:3.3rem;
}
/* Сторінка Login */
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-container {
    width: 84%;
    height: 86%;
    display: flex;
    justify-content: center;
}
.logo {
    width: 50%;
    height: 76%;
    align-self: center;
    padding-bottom: 10%;
    border-right: 10px solid #FFA500;
}
.logo img {
    width: 100%;
}
.user-login {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
.user-form {
    display: flex;
    flex-direction: column;
}
.user-form input {
    width: 100%;
    height: 80%;
    outline: none;
}
.user-form input:focus {
    box-shadow: 2px 2px 2px 0 #00BFFF;
}
label {
    display: block;
}
.text-form {
    font-family: var(--font-OS);
    font-weight: 400;
    font-size: var(--font-size-form);
    line-height: 3.8rem;
    color: var(--color-font-form);
}
.text-placehold {
    font-weight: 600;
    color: #000000;
}
.user-password {
    padding-bottom: 8rem;
}
.user-password input::placeholder {
    content: url("../images/icons/img-pass-plchld.png");
    padding-top: 2rem;
}
.user-button {
    width: 50%;
    align-self: end;
}
.user-button a {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00BFFF;
    border-radius: 4px;
    font-family: var(--font-OS);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: #000000;
}
.forgot-pass {
    align-self: flex-end;
}
.forgot-pass a {
    font-family: var(--font-OS);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--color-font-form);
}

/* СТОРІНКА Add Pages */
/* HEADER */
.pages-container {
    width: 94%;
    height: 92%;
    display: flex;
    flex-direction: column;
}
header {
    height: 10%;
}
/* TOP navigation */
.header-container {
    width: 100%;
    height: 100%;
    background: #155767;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 4px;
}
.white-element {
    width: 24%;
    height: 104%;
    border-radius: 0 4rem 4rem 0;
    background: #FFFFFF;
    margin-top: 0.2rem;
}
.navigation-top {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-nav-top {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.item-users-link {
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border-radius: 50%;
}
.icon-next-page {
    display: flex;
    align-items: center;
}
.icon-next-page a {
    font-family: var(--font-OS);
    padding-left: 2px;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 3.3rem;
    color: var(--color-font-white);
}
.logout {
    padding-right: 3rem;
}
/* Кнопка Refresh Configuration */
.button-refresh {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 10%;
    color: var(--color-button);
}
.text-button {
    font-family: var(--font-OS);
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.7rem;
    color: var(--color-font-white);
}
.btn-refresh {
    width: 24rem;
    height: 5rem;
    background-color: var(--color-button);
    border: none;
    cursor: pointer;
}
.icon-refrsh {
    cursor: pointer;
    height: 5rem;
    background-color: #000000;
}
/* MAIN */
/* Aside left navigation */
main {
    flex-grow: 1;
}
.main-container {
    display: flex;
    height: 100%;
}
.text-left-nav span {
    font-family: var(--font-OS);
    font-weight: 400;
    font-size: var(--font-size-left-nav);
    line-height: 3.2rem;
    color: var(--color-font-black);
    padding-left: 1%;
}
.text-left-nav > a img {
    display: inline-block;
    width: 3rem;
}
.left-navigation {
    width: 24%;
    padding-left: 1%;
    display: flex;
    align-items: center;
    border: 1px solid #707070;;
}
.list-left-nav {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.cpo-registration span {
    position: relative;
    bottom: 20%;
}
.active-page span {
    font-weight: 700;
}
.reports-analytics span {
    position: relative;
    bottom: 15%;
}
.main-content {
    width: 76%;
    display: flex;
    flex-direction: column;
    border: 1px solid #707070;;
}
.main-row-content {
    width: 90%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-main-content {
    font-family: var(--font-OS);
    font-weight: 700;
    font-size: var(--font-size-left-nav);
    line-height: 3.2rem;
    color: var(--color-font-form);
}
.buttons-row-content button {
    width: 14rem;
    height: 5.4rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.btn-delete {
    background: #A2A3A4;
}
.btn-save {
    background: var(--color-button);
}
.main-column-content {
    width: 90%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form-main-content {
    max-width: 60rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.text-main-content {
    font-family: var(--font-OS);
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.7rem;
    color: var(--color-font-form);
}
.input-add-pro input {
    width: 100%;
    height: 70%;
    font-family: var(--font-OS);
    font-weight: 300;
    font-size: 2rem;
    line-height: 2.7rem;
    color: var(--color-font-form);
    outline: none;
}
.contry-code {
    display: flex;
    justify-content: space-between;
}
.contry-code p input {
    width: 100%;
}
.local-token input {
    width: 60%;
}
.btn-generate-tkn {
    position: relative;
    bottom: 2px;
    width: 39%;
    height: 70%;
    background: var(--color-button);
    border: none;
    cursor: pointer;
    position: relative;
}
.btn-generate-tkn img {
    width: 10%;
}
.btn-generate-tkn::before {
    content: url("../pageAddCPO/images/icons/icon_key_btn.svg");
    position: absolute;
    top: 20%;
    left: 0;
}
/* СТОРІНКА Users */
/* HEADER */
.hidden {
    visibility: hidden;
}
/* MAIN */
.form-users-content {
    padding-top: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-users-content input {
    width: 60%;
    max-width: 90rem;
    height: 5rem;
    border: 1px solid #707070;
    background-image: url("../pageUsers/images/icons/icon_awesome_search.png");
    background-position: 1rem;
    background-repeat: no-repeat;
    padding-left: 5rem;
}
.btn-status {
    width: 20%;
    max-width: 28rem;
    height: 5rem;
    background-color: var(--color-button);
    color: var(--color-font-white);
    border: none;
    cursor: pointer;
}
.user-status {
    display: flex;
    justify-content: space-around;
}
/* СТОРІНКА Charging Station  */
/* MAIN */
.main-charging-session-content {
    width: 90%;
    max-height: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.title-charging-services {
    font-family: var(--font-OS);
    font-size: 2.2rem;
    line-height: 3rem;
    font-weight: 700;
}
.form-charging-session-content {
    display: flex;
    justify-content: space-between;
}
.select-session-content {
    width: 20%;
    max-width: 22rem;
    height: 5rem;
    border: 1px solid #707070;
}
.form-charging-session-content input {
    width: 60%;
    max-width: 90rem;
    height: 5rem;
    border: 1px solid #707070;
    background-image: url("../pageUsers/images/icons/icon_awesome_search.png");
    background-position: 1rem;
    background-repeat: no-repeat;
    padding-left: 5rem;
}
.img-stars {
    min-width: 74%;
    height: 4.24rem;
}
.table-charging-session {
    margin-top: 4%;
}
.row-table {
    height: 4rem;
    text-align: center;
    background: rgba(214, 214, 214, 0.16);
}
.text-charg-content {
    font-family: var(--font-OS);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 2rem;
    color: var(--color-font-form);
}
.next-arrow {
    padding: 1rem 0 2rem 0;
    align-self: center;
    display: flex;
}
.next-arrow div {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #707070;
}
.number {
    font-family: var(--font-OS);
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: #F9F7F7;
    background: var(--color-button);
}
.next-arrow div:nth-child(odd) {
    cursor: pointer;
}
/* Секція два основного контенту */
.two-section-chrging-content {
    width: 90%;
    height: 40%;
    margin: 0 auto;
}
.two-table-height {
    height: 40%;
}
.text-two-table th {
    font-family: var(--font-OS);
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: var(--color-font-black);
    text-align-last: left;
}
.two-table-input td {
    width: 20rem;
}
.two-table-input td input {
    width: 14rem;
    height: 4rem;
    border-radius: 6px;
    border: 1px solid #000000;
}
.image-url {
    max-width: 70%;
    min-width: 58rem;
    height: 60%;
    max-height: 18rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title-img-url {
    min-width: 20rem;
    font-family: var(--font-OS);
    font-weight: 600;
    font-size: 2rem;
    color: var(--color-font-black);
    position: relative;
    display: flex;
}
.title-img-url::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    margin: 0;
    border-bottom: 1px solid #000;
}
.images-url {
    display: flex;
}
.img-chess {
    padding: 0 0.6rem;
}
.img-chess img {
    max-width: 100%;
}
/* Сторінка Invite Users */
.button-invite-user {
    width: 50%;
    display: flex;
    justify-content: end;
}
.btn-cancel {
    width: 40%;
    max-width: 14rem;
    height: 5rem;
    background: var(--color-font-form);
    cursor: pointer;
    border: none;
}
.btn-invite {
    width: 50%;
    background: var(--color-button);
    max-width: 22rem;
    height: 5rem;
    cursor: pointer;
    border: none;
}
.form-invite-user-content {
    height: 60%;
    display: flex;
    justify-content: space-between;
}
.left-column-invite-user {
    flex: 0 1 40%;
}
.right-column-invite-user {
    flex: 0 1 40%;
}
.input-invite-user {
    width: 100%;
    max-width: 60rem;
    height: 5rem;
}
.radiocheck-invite-user {
    padding-top: 2rem;
    align-self: end;
}
.radiocheck {
    width: 28rem;
    display: flex;
    align-items: center;
}
.radiocheck span {
    padding-left: 2rem;
}
.radio-inp {
    display: none;
}
.radio-inp + label > .circle{
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border: 1px solid #707070;
    border-radius: 50%;
    background: white;
}
.radio-inp:checked + label .circle{
    background: url("../pageUsers/images/Ellipse-bg.png") center no-repeat;
}
.radio-inp:checked + label .text-checked {
    color: #000000;
}
.label-flex {
    display: flex;
    align-items: center;
}