
@media screen and (max-width: 1200px) {
    html {
        --font-size-nav: 2.6rem;
    }
    .title-contact p {
        font-size: 4rem;
    }
}

@media screen and (max-width: 992px) {

    html {
        --font-size-nav: 1.8rem;
    }
    /* HEADER */
    /* Бургер-меню */
    .navigation {
        display: none;
    }
    .header-burger {
        margin-right: 2rem;
        width: 40px;
        height: 30px;
        display: grid;
        grid-template: repeat(3, 8px) / 1fr;
        cursor: pointer;
    }
    .bar1, .bar2, .bar3 {
        width: 40px;
        height: 4px;
        background-color: #fff;
        margin: 6px 0;
    }
    /* Section Gallery */
    /* Анімація карток */
    .centr-four-cards {
        /* min-width: 60rem; */
    }
    .gallery-content {
        justify-content: center;
    }
    .left-two-cards {
        position: relative;
        top: -18vh;
        left: 0;
    }
    @keyframes leftTwoCards {
        0% {
            top: -18vh;
            left: -100vw;
        }
        100% {
            top: -18vh;
            left: 0;
        }
    }
    .right-two-cards {
        position: relative;
        top: -18vh;
        right: 0;
    }
    @keyframes rightTwoCards {
        0% {
            top: -18vh;
            right: -100vw;
        }
        100% {
            top: -18vh;
            right: 0;
        }
    }
    .left-one-card {
        position: relative;
        top: 24vh;
        left: 25vw;
        animation: leftOneCard 1.2s;
    }
    @keyframes leftOneCard {
        0% {
            top: 24vh;
            left: -50vw;
        }
        100% {
            top: 24vh;
            left: 25vw;
        }
    }
    .right-one-card {
        position: relative;
        top: 24vh;
        right: 25vw;
        animation: rightOneCard 1.2s;
    }
    @keyframes rightOneCard {
        0% {
            top: 24vh;
            right: -50vw;
        }
        100% {
            top: 24vh;
            right: 25vw;
        }
    }
    /* section Services */
    .section-services {
        flex-direction: column;
        position: relative;
    }
    .left-service-container {
        position: absolute;
        top: 0;
        left: 8%;
        width: 84%;
        height: 80%;
    }
    .circle-card-one, .circle-card-two, .circle-card-three, .circle-card-four {
        justify-content: center;
        padding: 2% 0.5rem;
    }
    .circle-card-one img, .circle-card-two img, .circle-card-three img, .circle-card-four img {
        padding: 8% 8% 0 8%;
    }
    .right-service-content {
        order: 1;
        height: 100vh;
    }
    .left-services-content {
        order: 2;
        z-index: 1;
    }
    .card p {
        margin: 4px 0 0 0;
        color: #fff;
    }
    /* section Team */
    .title-team {
        font-size: 5rem;
        line-height: 7rem;
    }
    .team-container {
        height: 100%;
        justify-content: center;
    }
    .cards-team {
        max-width: 90rem;
        height: 75vh;
        flex-wrap: wrap;
        justify-content: center;
    }
    .image-card-team {
        width: 45%;
        height: 50%;
        position: relative;
        padding-bottom: 20%;
    }
    .image-card-team img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    } 
    /* section Contact Us */
    .section-contact {
        height: 75vh;
    }
    .contact-container {
        flex-direction: column;
    }
    .form-content {
        height: 72%;
    }
    /* FOOTER */
    .section-footer {
        height: 25vh;
    }
    .title-contact p {
        font-size: 3rem;
        line-height: 3rem;
    }
    .text-adres {
        font-size: 2rem;
    }
    .text-italic {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 768px) {
    /* section Services */
    .name-image-team {
        width: 70%;
    }
    .card p {
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: #000000;
    }
    .right-service-content {
        display: none;
    }
}