/* Section Gallery */
/* Ліва одна картка */
.left-one-card {
    animation: leftOneCard 2s;
    position: relative;
}
@keyframes leftOneCard {
    0% {
        left: -50vw;
    }
    100% {
        left: 0vh;
    }
}
/* Лівих дві картки */
.left-two-cards {
    animation: leftTwoCards 1.2s;
    position: relative;
}
@keyframes leftTwoCards {
    0% {
        left: -100vw;
    }
    100% {
        left: 0vh;
    }
}
/* Правих дві картки */
.right-two-cards {
    animation: rightTwoCards 1.2s;
    position: relative;
}
@keyframes rightTwoCards {
    0% {
        right: -100vw;
    }
    100% {
        right: 0vh;
    }
}
/* Права одна картка */
.right-one-card {
    animation: rightOneCard 2s;
    position: relative;
}
@keyframes rightOneCard {
    0% {
        right: -50vw;
    }
    100% {
        right: 0vh;
    }
}
/* section Services */
/* Анімація першої картки */
.circle-card-one {
    position: absolute;
    top: 0;
    left: 0;
    animation: circleCardOne 20s infinite;
    animation-delay: 3s;
}
@keyframes circleCardOne {
    0% {
        top: 0;
        left: 0;
    }
    5% {
        left: 50%;
        top: 0;
        transform: rotate(360deg);
    }
    25% {
        left: 50%;
        top: 0;
        transform: rotate(360deg);
    }
    30% {
        left: 50%;
        top: 50%;
        transform: rotate(720deg);
    }
    50% {
        left: 50%;
        top: 50%;
        transform: rotate(720deg);
    }
    55% {
        left: 0%;
        top: 50%;
        transform: rotate(1080deg);
    }
    75% {
        left: 0%;
        top: 50%;
        transform: rotate(1080deg);
    }
    80% {
        left: 0%;
        top: 0%;
        transform: rotate(1440deg);
    }
    100% {
        left: 0%;
        top: 0%;
        transform: rotate(1440deg);
    }
}
/* Анімація другої картки */
.circle-card-two {
    position: absolute;
    top: 0;
    left: 50%;
    animation: circleCardTwo 20s infinite;
    animation-delay: 3s;
}
@keyframes circleCardTwo {
    0% {
        top: 0;
        left: 50%;
    }
    5% {
        left: 50%;
        top: 50%;
        transform: rotate(360deg);
    }
    25% {
        left: 50%;
        top: 50%;
        transform: rotate(360deg);
    }
    30% {
        left: 0;
        top: 50%;
        transform: rotate(720deg);
    }
    50% {
        left: 0;
        top: 50%;
        transform: rotate(720deg);
    }
    55% {
        left: 0;
        top: 0;
        transform: rotate(1080deg);
    }
    75% {
        left: 0;
        top: 0;
        transform: rotate(1080deg);
    }
    80% {
        left: 50%;
        top: 0;
        transform: rotate(1440deg);
    }
    100% {
        left: 50%;
        top: 0;
        transform: rotate(1440deg);
    }
}
/* Анімація третьої картки */
.circle-card-three {
    position: absolute;
    top: 50%;
    left: 0;
    animation: circleCardTree 20s infinite;
    animation-delay: 3s;
}
@keyframes circleCardTree {
    0% {
        top: 50%;
        left: 0;
    }
    5% {
        left: 0;
        top: 0;
        transform: rotate(360deg);
    }
    25% {
        left: 0;
        top: 0;
        transform: rotate(360deg);
    }
    30% {
        left: 50%;
        top: 0;
        transform: rotate(720deg);
    }
    50% {
        left: 50%;
        top: 0;
        transform: rotate(720deg);
    }
    55% {
        left: 50%;
        top: 50%;
        transform: rotate(1080deg);
    }
    75% {
        left: 50%;
        top: 50%;
        transform: rotate(1080deg);
    }
    80% {
        left: 0;
        top: 50%;
        transform: rotate(1440deg);
    }
    100% {
        left: 0;
        top: 50%;
        transform: rotate(1440deg);
    }
}
/* Анімація четвертої картки */
.circle-card-four {
    position: absolute;
    top: 50%;
    left: 50%;
    animation: circleCardFour 20s infinite;
    animation-delay: 3s;
}
@keyframes circleCardFour {
    0% {
        top: 50%;
        left: 50%;
    }
    5% {
        left: 0;
        top: 50%;
        transform: rotate(360deg);
    }
    25% {
        left: 0;
        top: 50%;
        transform: rotate(360deg);
    }
    30% {
        left: 0;
        top: 0;
        transform: rotate(720deg);
    }
    50% {
        left: 0;
        top: 0;
        transform: rotate(720deg);
    }
    55% {
        left: 50%;
        top: 0;
        transform: rotate(1080deg);
    }
    75% {
        left: 50%;
        top: 0;
        transform: rotate(1080deg);
    }
    80% {
        left: 50%;
        top: 50%;
        transform: rotate(1440deg);
    }
    100% {
        left: 50%;
        top: 50%;
        transform: rotate(1440deg);
    }
}
/* section Team */
/* Показ ім'я на катртках*/
.image-card-team {
    overflow: hidden;
    position: relative;
}
.name-image-team {
    position: absolute;
    top: 100%;
    left: 0;
    transition: 1.1s;
}
.image-card-team:hover .name-image-team {
    top: 78%;
    left: 0;
}
/* Фільтр на картках */
.cards-team:hover .image-card-team:not(.image-card-team:hover) {
    filter: brightness(50%);
}