*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

html {
    font-size: 10px;
    --font-ROSA: 'Rosario', sans-serif;
    --font-italic: italic;
    --font-normal: normal;
    --font-size-nav: 3.2rem;
    --color-text-nav: #FFFCFC;
}
header {
    position: sticky;
    top: 0;
    z-index: 10;
}
body {
    margin: 0;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    flex-grow: 1;
}
/* LOGO */
.logo img {
    position: relative;
    top: 1.5px;
    width: 100%;
    height: 10vh;
}
/* NAVIGATION */
.navigation {
    width: 60%;
    max-width: 80rem;
    display: flex;
    justify-content: space-between;
    padding-right: 1.5rem;
}
.link-item-navigation {
    font-family: var(--font-ROSA);
    font-style: var(--font-italic);
    font-size: var(--font-size-nav);
    font-weight: 700;
    line-height: 4.2rem;
    color: var(--color-text-nav)
}
/* Section Gallery */
.section-gallery {
    height: 100vh;
}
.gallery-content {
    width: 96%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left-one-card {
    padding-right: 1rem;
}
.centr-four-cards {
    display: flex;
    justify-content: space-between;
}
.left-two-cards {
    padding-right: 1rem;
}
.left-two-cards div:first-of-type {
    padding-bottom: 1rem;
}
.right-two-cards {
    padding-left: 1rem;
}
.right-two-cards div:first-of-type {
    padding-bottom: 1rem;
}
.right-one-card {
    padding-left: 1rem;
}
.left-one-card img:hover, .left-two-cards img:hover, .right-two-cards img:hover, .right-one-card img:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.card img {
    width: 100%;
}
/* section Services */
.section-services {
    height: 100vh;
    display: flex;
}
.left-services-content {
    flex: 0 1 50%;
    height: 100%;
    display: flex;
    align-items: center;
}
.left-service-container {
    padding-top: 3rem;
    height: 90%;
    width: 96%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.top-circles, .bottom-circles {
    display: flex;
}
.circle-images {
    margin-top: 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.circle-card-one, .circle-card-two, .circle-card-three, .circle-card-four {
    padding: 0 0.5rem;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}
.circle-card-one img:hover, .circle-card-two img:hover, .circle-card-three img:hover, .circle-card-four img:hover {
    border-radius: 50%;
    cursor: pointer;
}
.card p {
    text-align: center;
    margin: 1rem 0;
    font-family: var(--font-ROSA);
    font-style: var(--font-italic);
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;
    color: #000000;
}
/* Картинка зправа */
.right-service-content {
    flex: 0 1 50%;
    display: flex;
}
/* section Team */
.section-team {
    height: 100vh;
    display: flex;
    justify-content: center;
}
.team-container {
    height: 90%;
    align-self: end;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title-team {
    margin: 5rem 0;
    text-align: center;
    font-family: var(--font-ROSA);
    font-style: var(--font-normal);
    font-weight: 700;
    font-size: 7rem;
    line-height: 8rem;
    color: #000000;
}
.cards-team {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.image-card-team img {
    cursor: pointer;
}
.image-card-team {
    padding: 0 1rem;
}
.name-image-team {
    margin-left: 1rem;
    width: 95%;
    height: 20%;
    background: rgba(163, 83, 10, 0.7);
    border-radius: 0 0 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.name-image-team p {
    margin-top: 0;
    font-family: 'Volkhov' sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 4rem;
    line-height: 4rem;
    color: var(--color-text-nav);
}
/* section Contact Us */
.section-contact {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: end;
}
.contact-plus-footer {
    display: flex;
    flex-direction: column;
}

.contact-container {
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: space-between;
}
.form-contact {
    flex: 0 1 58%;
}
.title-contact p {
    margin: 0 0 2rem 0;
    text-align: center;
    font-family: var(--font-ROSA);
    font-style: var(--font-italic);
    font-weight: 700;
    font-size: 5rem;
    line-height: 5rem;
    color: #000000;
}
.text-input {
    font-family: var(--font-ROSA);
    font-style: var(--font-normal);
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 4rem;
    color: rgba(0, 0, 0, 0.5);
}
.form-content {
    background: #E5E5E5;
    height: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    width: 94%;
    height: 90%;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.form p {
    margin: 0;
    padding-bottom: 2rem;
}
.inputs {
    display: flex;
    justify-content: space-between;
}
.inputs input {
    width: 40%;
}
.form textarea {
    height: 80%;
    resize: none;
}
.map-contact {
    flex: 0 1 40%;
}
.map-contact iframe {
    width: 100%;
    height: 100%;
}
/* FOOTER */
.section-footer {
    height: 30vh;
    display: flex;
    justify-content: center;
}
.footer-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 2rem;
}
.text-adres {
    font-family: var(--font-ROSA);
    font-style: var(--font-normal);
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    color: #000000;
}
.text-italic {
    font-family: var(--font-ROSA);
    font-style: var(--font-italic);
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.6rem;
    color: #000000;
}
.title-oh, .title-connect {
    text-align: center;
    text-decoration: underline;
}
.social-media {
    display: flex;
    align-items: center;
}
.social-media a:first-of-type {
    width: 3.2rem;
    height: 3.2rem;
    text-align: center;
}
.social-media a:last-of-type {
    padding-left: 1rem;
}

