*,
*::before,
*::after {
    box-sizing: border-box;
}

.title {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 2px;
    color: #0BBBD3;
}
.header-title-with {
    color: #000000;
}
.header-content {
    width: 100%;
    height: 53rem;
    background: url(../images/Uspensky_sobor.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
.header-bg-flag {
    background: url("../images/flag.png");
    background-repeat: no-repeat;
    width:50rem;
    height: 24rem;
    position: relative;
    top: 14rem;
    left: 5rem;
}
.header-bg-title {
    margin: 0;
    padding: 5rem 0 0 4.75rem;
    width: 50rem;
    height: 20rem;
    font-weight: 700;
    font-size: 4rem;
    color: #FFFFFF;
}
/* Секція визначні місця */
.famous-places {
    width: 80rem;
    margin: 0 auto;
}
.famous-places-title {
    font-size: 3rem;
    font-weight: 700;
    width: 21rem;
    border-bottom: 5px solid #33B8F1;
}
.main-images a {
    text-decoration: none;
}
.main-images {
    position: relative;
}
.main-images::after {
    content: url("../images/icons/cursor.png");
    position: absolute;
    bottom: 8.2rem;
    left: 16rem;
}
/* Секція все буде Україна */
.stand-ukrain-content {
    width: 60.8rem;
    height: 68rem;
    margin: 0 auto;
}
.stand-ukraine-title {
    margin: 3.75rem auto;
    font-weight: 700;
    font-size: 3rem;
    color: #000000;
    border-bottom: 5px solid #33B8F1;
    width: 30rem;
}
.stand-ukraine-support {
    background: url("../images/Heart.png");
    width: 60.8rem;
    height: 54rem;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.btn-support {
    text-align: center;
    width: 26.8rem;
    height: 4.62rem;
    background: #33ADF1;
    padding-top: 0.7rem;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 28%;
}
.btn {
    text-decoration: none;
    font-weight: 700;
    font-size: 3rem;
    color: #FFFFFF;
}
/* Footer */
.footer-conteiner {
    background: #334fb5;
}
.footer-content {
    width: 34rem;
    height: 25.3rem;
    margin: 0 auto;
}
.footer-title {
    padding-top: 20px;
}
.footer-title-with {
    color: #F8F5F5;
}
.footer-content {
}
.footer-link-contacts {
    text-align: center;
}
.post-tell a {
    text-decoration: none;
    font-weight: 400;
    font-size: 32px;
    color: #353949;
}
.social-networks {
    margin-top: 2rem;
    position: relative;
}
.item-network {
    display: inline-block;
    width: 68px;
    height: 68px;
    margin-right: 20px;
    background: url("../images/icons/bg_networks.png");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.item-position a img {
    position: relative;
    top: 14px;
}
.twitter {
    position: absolute;
    top: 10px;
    left: 70px;
}
.telega {
    position: absolute;
    top: 10px;
    left: 180px;
}
.insta {
    position: absolute;
    top: 10px;
    right: 160px;
}
.facebook {
    position: absolute;
    top: 10px;
    right: 50px;
}

